<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LATNavigationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>544A91DF1D0BC71200B96A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544A91F81D0BC71200B96A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544A92031D0BC71200B96A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
